<!DOCTYPE html>
<html>
<head>
    <title>To-Do list</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    
    <div class="form-list-container">

        <form id="create-task-form">
            <div class="create-task-form-div">

            <h3>Добавьте задачу ↓</h3>

            <button type="submit" class="button">Добавить задачу</button>

            <input type="text" id="title" name="title" placeholder="Название задачи" class="input" required>

            <textarea id="description" name="description" placeholder="Описание задачи" class="input"></textarea>

            <input type="date">
            </div>
        </form>
       
        <!-- Сообщения будут здесь -->
        <div id="message" style="margin-top: 20px; padding: 10px;"></div>

        <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    </div>
    
</body>

</html>