<div class="task-card">

    <h2 class="task-card-title">{{task.title}}</h2>
    
    <div class="task-card-content">

        <a>{{task.description}}</a>

        <div class="deadline-and-delete-button-line">

            {% if task.deadline %}
                <p><strong>Дедлайн:</strong> {{task.deadline}}</p>
            {% else %}
                <p><strong>Дедлайн:</strong> Не установлен</p>
            {% endif %}

            <button class="button" id="delete-button">Удалить</button>

        </div>
       
    </div>

</div>