/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили */
body {
    
}

/* Компоненты */

#main-container {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* если нужно по вертикали тоже */
    gap: 4rem;

    border: 5px solid rgb(0, 47, 255) !important; /* Яркая граница */
    background-color: rgba(38, 0, 255, 0.1); /* Полупрозрачный фон */
    
}

#message {
    position: fixed;
    top: 1rem;     
    left: 1rem;    
    

    border: 5px solid red !important; /* Яркая граница */
    background-color: rgba(255, 0, 0, 0.1); /* Полупрозрачный фон */
}


#create-task-form {
    display: flex;
    padding: 1rem;
    

    
    border: 5px solid red !important; /* Яркая граница */
    background-color: rgba(255, 0, 0, 0.1); /* Полупрозрачный фон */
    
}

#tasks-list {
    display: flex;
    padding: 1rem;
    

    
    border: 5px solid red !important; /* Яркая граница */
    background-color: rgba(255, 0, 0, 0.1); /* Полупрозрачный фон */
    
}

.task-card {
    
}

.button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}