/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили */
body {
    background-image: url('https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8150.jpg?semt=ais_hybrid&w=740&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Компоненты */

#main-container {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* если нужно по вертикали тоже */
    gap: 4rem;

    border: 5px solid rgb(0, 47, 255) !important; /* Яркая граница */
    background-color: rgba(38, 0, 255, 0.1); /* Полупрозрачный фон */
    
}

#message {
    position: fixed;
    top: 1rem;     
    left: 1rem;    
    

    border: 5px solid red !important; /* Яркая граница */
    background-color: rgba(255, 0, 0, 0.1); /* Полупрозрачный фон */
}


#create-task-form {
    display: flex;
    padding: 1rem;
    justify-content: space-between;

    
    border: 5px solid red !important; /* Яркая граница */
    background-color: rgba(255, 0, 0, 0.1); /* Полупрозрачный фон */
    
}


#tasks-list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    

    
    border: 5px solid red !important; /* Яркая граница */
    background-color: rgba(255, 0, 0, 0.1); /* Полупрозрачный фон */
    
}

#title {
    max-height: 37px;
}

#date {
    max-height: 37px;
}

#submit-button {
    max-height: 37px;
}

#description {
    min-height: 37px;
    max-width: 164px;
}

.button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}